* {
    margin: 0%;
    box-sizing: border-box;
}


header,
main,
aside,
footer {
    border: 1px solid black;
}

header { 
    grid-area: header;
    justify-content: center;
    text-align: center;
    background-color: rgba(226, 210, 179, 0.945);
    height: auto;
    width: auto;
    
}


main{
  text-align: center;
    grid-area: main;
    justify-content: center;
    background-color: rgb(211, 208, 208);
}

aside { 
    display: flex;
    grid-area: aside;
    justify-content: center;
    background-color: rgb(211, 208, 208);
    
   
}

footer {
    display: flex;
    grid-area: footer;
    justify-content: center;
    background-color: rgba(226, 210, 179, 0.945);

}

.titulo{
    padding: 10px;
}

.boxes img {
    height: 200px;
    width: auto;
    padding-top: 5%;
}

.box { 
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    text-align: center;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-left: 10%;
    

}

.boxes { 
    height: 300px;
    width: 300px;
    text-align: center;
    border: 1px solid black;
    border-radius: 5%;
    margin: 10%;
    
}

aside{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    justify-content:initial;
    text-align: justify;
}

aside h2{
    text-align: center;
}
footer {
    display: flex;
    flex-direction: column;
    align-items: center;

    
}

footer button { 
    border-radius: 20%;
}



@media (min-width:600px){
    .contenedor {
        font-family: "Freeman", sans-serif;
      font-weight: 400;
      font-style: normal;
      display: grid;
      grid-template-areas: 
      "header header"
      "aside main"
      "footer footer";
      grid-template-columns: 10% auto;
      grid-template-rows: 10% auto 10%;
      height: 100vh;
      width: 100%;  
    }
    }

    @media (max-width:600px){
        .contenedor {
            font-family: "Freeman", sans-serif;
          font-weight: auto;
          font-style: normal;
          display: grid;
          grid-template-areas: 
          "header"
          "aside"
          "main"
          "footer";
          grid-template-columns: 10% 10% auto 10%;
          height: 100vh;
          width: 100vh;
          
          text-align: center;
         
        }
        main .box { 
            display: flex;
            flex-direction: column;
        }
        header{
            width: 100vh; 
        }
        aside{
            width: 100vh; 
            display: none;
            
        }

        aside ul{
           
            display: flex;
            justify-content: center;
            justify-content: space-around;
            flex-wrap: wrap;  

        }
        main{
            width: 100vh; 
           
        }
        footer{
            width: 100vh; 
           
        }

        body { 
            width: 100vh;
        }
        }


        .boxes button {
            animation-name: miAnimacion;
            animation-duration: 1s;
            animation-direction: alternate;
            animation-iteration-count: infinite;
            
        }
        
        @keyframes miAnimacion {
            from {color: red;}
            to {color: blue;}
        }

   